<a href="https://colab.research.google.com/github/aminsultan/hello-world/blob/master/nflm_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=int(input("enter a number:"))
b=int(input("enter a number:"))
c=int(input("enter a number:"))
sum=a+b+c
if a==b or b==c or c==a:
  print("zero")
else:
  print("sum")

enter a number:12
enter a number:12
enter a number:12
zero

In [2]:
a=int(input("enter a number:"))
b=int(input("enter a number:"))
sum=a+b
if 15<sum<20:
  print(20)
else:
  print(sum)

enter a number:12
enter a number:4
20

In [3]:
a=int(input("enter a number:"))
b=int(input("enter a number:"))
sum=a+b
diff=a-b
if a==b or sum==5 or diff==5:
  print("true")
else:
  print("false")

enter a number:25
enter a number:23
false

In [8]:
name=str(input("enter your name:"))
age=int(input("enter your age:"))
address=str(input("enter your address:"))
print("your name is:"+""+ name)
print("your age is: " ,age)
print("your address is:"+""+ address)

enter your name:amin
enter your age:32
enter your address:nagpur
your name is:amin
your age is:  32
your address is:nagpur

In [13]:
name=str(input("enter your name:"))
age=int(input("enter your age:"))
address=str(input("enter your address:"))
print(name,'\n',age,'\n',address)

enter your name:amin
enter your age:32
enter your address:nagpur
amin
 32
 nagpur

In [16]:
import math
x=int(input("enter a number:"))
y=int(input("enter another number:"))
res=math.pow((x+y),2)
print(res)

enter a number:2
enter another number:4
36.0

In [17]:
import math
p=int(input("enter the principle amount:"))
r=int(input("enter the rate of interest:"))
n=int(input("enter the number of years:"))
res=p*(math.pow((1+0.01*r),n))
print(res)

enter the principle amount:10000
enter the rate of interest:10
enter the number of years:3
13310.000000000004

In [19]:
import math
x1=int(input("enter the value of x1:"))
y1=int(input("enter the value of y1:"))
x2=int(input("enter the value of x2:"))
y2=int(input("enter the value of y2:"))
res=math.pow(math.pow((x2-x1),2)+math.pow((y2-y1),2),0.5)
print(res)

enter the value of x1:10
enter the value of y1:5
enter the value of x2:20
enter the value of y2:10
11.180339887498949